<% if @files %>
  <%= form_tag(create_sources_team_drive_index_path, :method => 'post') do %>
    <h3>Select Folders:</h3>
    <%= render :partial => 'files_listing' %>
    <input type="hidden" name="drive_id" value="<%= @drive_id %>">
    <%= hidden_field_tag "state", params["state"] %>
    <%= hidden_field_tag "provider_id", params["provider_id"] %>
  <% end %>
<% end %>