<div class="card">
  <%= form_tag(create_sources_one_drive_index_path) do |f| %>
    <h5 class="card-header">Select Folders</h5>
    <div class="card-body">

      <div class='row'>
        <% @folders.each do |folder| %>
          <div class='col-sm-6 col-md-4 col-lg-4 pt-3'>
            <div class="input-group">
              <div class='form-control'>
                <%= image_tag("folder.png", height: 20, width: 20, class: 'mr-3') %>
                <%= folder['name']%>
              </div>
              <span class="input-group-addon">
                <label>
                  <%= check_box_tag "folders[#{folder['id']}]", folder['name'], false, class: 'mr-10'%>
                </label>
              </span>
            </div>
          </div>
        <% end %>
      </div>

      <%= hidden_field_tag 'state', params[:state] %>
      <%= hidden_field_tag 'provider_id', params[:provider_id] %>
      <div class="pt-3">
        <button type="submit" class="btn btn-secondary">Save</button>
      </div>
    </div>
  <%end%>
</div>
