<% unless @drives.empty? %>
  <%= form_tag(fetch_folders_google_team_drive_index_path, method: 'get') do %>
    <h5 class="card-header">Team Drives (Total: <%= @drives.size || 0 %>)</h5>
    <% drives = @drives.map { |drive| [drive.name, drive.id] } %>

    <div class="styled-select">
      <%= select_tag "drive_id", options_for_select(drives, :selected => @drive_id), style: "height: 50px; max-width: 240px; padding: 13px; align-self: center;" %>
      <%= hidden_field_tag "state", params["state"] %>
      <%= hidden_field_tag "provider_id", params["provider_id"] %>
      <%= submit_tag("Select drive", { class: "btn btn-secondary", align: "right" }) %>
    </div>
  <% end %>
<% else %>
  <p>
    No Team Drives found. Please check if selected Google account having 'Team Drive' feature enabled. <br />
    For more details on the Google team drive account, you may visit <%= link_to "page", "https://gsuite.google.com/learning-center/products/drive/get-started-team-drive/" %>.
  </p>
<% end %>
