<% if @sites %>
	<%= form_tag(fetch_drives_sharepoint_index_path, method: 'get') do %>
  	<h5 class="card-header">Sites (Total: <%= @sites.size || 0 %>)</h5>
	<% sites = @sites.map { |site| [site['name'], {:id => site['id'], :name => site['name']}.to_json] } %>
	  <div class="styled-select">
	  	<%= select_tag "site", options_for_select(sites, :selected => @site_id), style: "height: 50px; max-width: 240px; padding: 13px; align-self: center;" %>
  		<%= hidden_field_tag 'state', params[:state] %>
  		<%= hidden_field_tag 'provider_id', params[:provider_id] %>
  		<%= submit_tag("Select site", { class: "btn btn-secondary", align: "right" }) %>
		</div>
	<% end %>
<% end %>